/* main.css */

* {
  box-sizing: border-box;
}

html, body {
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   margin: 0;
   padding: 0;
   color: black;
}

body {
  line-height: 1.4rem; /* 30px / 20px = 1.5 */
  /* background: #fafafa; */
  background: ghostwhite;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", sans-serif;
   color: #474e5f;
}

h1 { font-size: 2.5rem }
h2 { font-size: 2rem }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1rem }

p, li, th, td, dd, dl, a, dd, input, textarea, button, select, option {
   font-weight: 400;
   font-size: 1rem;
   vertical-align: baseline;
   -webkit-font-smoothing: antialiased;
}

#brand-logo {
   margin-top: -1.1rem;
}

.navbar-inverse {
   background: #323744;
   padding: 2rem;
   color: #474e5f;
   border-radius: 0px;
   margin-bottom: 0px;
}

.navbar-collapse {
   border: 0px !important;
   box-shadow: none !important;
}

@media (max-width: 767px) {
   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: white !important;
   }

   #jumbotronic {
      font-size: 3.6rem;
   }

   .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
      background-color: gray;
   }

}

.example {
    padding-top: 2rem;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 10;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f1f1f1; /* #474E5F #dff0d8  002b5b */
    color: #474E5F !important; /*#3c763d */
    padding:6px;
    border-radius: 4px 0 4px 0;
    font-weight: 700;
}

.jumbotron {
   height: 450px;
   background: linear-gradient( rgba(0, 134, 230, .3), rgba(0, 134, 230, .3)), url('../img/background-jumbotron.jpg');
   background-size: cover;
}

.jumbotron h1 {
   color: #FFFFFF;
   /* text-shadow: 1px 1px gray; */
   text-align: center;
   font-size: 7em;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:link,
.navbar-inverse .navbar-nav > .active > a:visited,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:active {
   background: white !important;
   color: #474E5F;
   border-bottom: none;
}

.dropdown-menu {
   border-top: 0;
   margin-right:-1px;
}

.push-down-1 {
   margin-top: 1rem;
}

.push-down-2 {
   margin-top: 2rem;
}

.push-down-3 {
   margin-top: 3rem;
}

.push-down-jumbotron {
   margin-top: 7.2rem;
}

.btn-light,
.btn-light:focus {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
   font-weight: 600;
}

.btn-light:hover {
    color: black;
    background-color: white;
}

.fa-fr {
   margin-right: 1.5rem;
}

.white {
   color: white !important;
}

.ghostwhite {
   color: ghostwhite !important;
}

.aliceblue {
   color: aliceblue !important;
}

#photo-attribution {
margin: 0 2rem -2rem 0 !important;
}

#page-footer {
   background: #323744;
   padding: 2rem;
   color: #474e5f;
}

#page-footer p,
#page-footer a {
   color: white;
}

#page-footer a:hover {
   color: #939fbe;
   text-decoration: none;
   cursor: pointer;
}

.modal-body {
   padding: 2.5rem;
}

.tool-cards{
   cursor: pointer;
   margin-bottom: 3rem;
}

.tool-cards:hover {
   -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
   box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.tool-cards > .panel-footer {
   font-weight: 600;
   text-align: center;
   font-size: 1.3rem;
   height: 85px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tool-cards > .panel-body {
   height: 250px;
   overflow: hidden;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.tooltip {
   font-size: 1rem;
}

.inline {
   display: inline;
}

#sidenav-button {
   cursor:pointer;
}

#bootstrapr-nav i,
.panel-footer i {
   margin-right: 1rem !important;
   font-weight: 300;
}

.dropdown-menu > .active > a {
   background-color: #474e5f !important;
}

/* Special classes  -------------------------------------------- */

.short-round {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}

pre {
   font-family: "Menlo", "Monaco", "Consolas", monospace;
}

pre.prettyprint {
   background: ghostwhite !important;
}

pre.prettyprint {
   border: none !important;
   padding: 10px !important;
   font-size: 15px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Adds individual lines to prettyprint */
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}

/* Back to top button */

#topper {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #474e5f;
    color: white;
    padding: 8px 4px 10px 4px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    font-size: 1rem;
}

#topper:hover {
    background-color: #3f4455;
    opacity: .8;
}
