/* main.css */

* {
  box-sizing: border-box;
  outline: 0 !important;
}

html {
   font-size: 100%;
}

html, body {
   font-family: "Open Sans", sans-serif;
   margin: 0;
   padding: 0;
   color: black;
}

body {
  line-height: 1.4rem; /* 30px / 20px = 1.5 */
  background: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", sans-serif;
   color: #474e5f;
}

.sub-header {
   margin-top: 5rem;
}

/* navbar classes */
.navbar-inverse .navbar-nav>.open>a {
   background: white !important;
   color: black !important;
}

@media (min-width: 768px) {
   .navbar-nav>li {
      margin-right: 1rem;
   }
}

.activated {
   border-bottom: 4px solid white;
}

.navbar-inverse .navbar-nav > li.activated > a{
   color: white;
}

/* headings */
h1 { font-size: 2.5rem }
h2 { font-size: 2rem }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1.1rem }

h1, h2, h3, h4, h5, h6 {
   font-weight: bold !important;
}

.homepage-headings {
   margin-bottom: 3rem;
   color: #406885;
   margin-top: 5rem;
}

p {
   font-size: 1rem;
   margin-bottom: 1rem;
}

p, li, th, td, dd, dl, a, dd, input, textarea, button, select, option {
   vertical-align: baseline;
   -webkit-font-smoothing: antialiased;
   font-size: 1rem;
}

.breadcrumb {
   font-size: 1rem;
   background: transparent;
}

.homepage hr {
   border-bottom: 8px double #406885;
}

hr.divider {
   border-bottom: 5px double #406885 !important;
   border-top: none;
   margin-bottom: 2rem !important;
}

/* Sets the size of the tabs for the beautify code function  */
pre {
    -moz-tab-size : 3;
      -o-tab-size : 3;
         tab-size : 3;
}

/* plus glyph for showing collapsible panels */
.panel-heading .accordion-plus-toggle:before {
   font-family: FontAwesome;
   content: "\f068";
   float: right;
   color: silver;
}

.panel-heading .accordion-plus-toggle.collapsed:before {
   content: "\f067";
   color: silver;
}

/* arrow glyph for showing collapsible panels */
.panel-heading .accordion-arrow-toggle:before {
   font-family: FontAwesome;
   content: "\f078";
   float: right;
   color: silver;
}

.panel-heading .accordion-arrow-toggle.collapsed:before {
   content: "\f054";
   color: silver;
}

/* sets the link to the width of the entire panel title */
.panel-title > a {
   display: block;
}

.well button {
   margin: 0 .5rem !important;
}

/* Adds margin bottom to the images */
.image-grid img {
   margin-bottom: .75rem;
}

.well-separator {
   clear: both;
   padding-top: 1rem !important;
   border-bottom: 1px dashed gray;
   border-top: none;
   border-left: none;
   border-right: none;
}

.brand-link {
   font-size: inherit;
   color: white;
}

.brand-link:hover {
   text-decoration: none;
   color: #939fbe;
}

.icon-selector {
   margin-top: 1.3rem !important;
}

#brand-logo {
   margin-top: -1.1rem;
}

.button-box {
   margin-bottom: 5rem;
}

.navbar-inverse {
   background: #323744;
   padding: 2rem;
   color: #474e5f;
   border-radius: 0px;
   margin-bottom: 0px;
}

.add-100 {
   margin-top: 150px;
}

/* Limits the width of smaller numeric inputs */
.input-number {
   width: 100px !important;
}

/* Clear's left and right margins */
.clearfix {
   clear: both;
}

.navbar-collapse {
   border: 0px !important;
   box-shadow: none !important;
}

@media (max-width: 767px) {
   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: white !important;
   }

   #jumbotronic {
      font-size: 3.6rem;
   }

   .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
      background-color: gray;
   }

}

.btn-code-well {
   background: #566277;
   color: white;
}

.btn-code-well:link,
.btn-code-well:visited,
.btn-code-well:hover,
.btn-code-well:active,
.btn-code-well:focus {
   background: #474e5f;
   color: white;
}

.example {
    padding-top: 2rem;
}

/* .example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 10;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #474E5F !important;
    padding:6px;
    border-radius: 4px 0 4px 0;
    font-weight: 700;
} */

.jumbotron-homepage {
   height: 450px;
   background: linear-gradient( rgba(0, 134, 230, .3), rgba(0, 134, 230, .3)), url('../img/background-jumbotron.jpg');
   background-size: cover;
}

.jumbotron-homepage h1 {
   color: #FFFFFF;
   /* text-shadow: 1px 1px gray; */
   text-align: center;
   font-size: 7em;
}

.white {
   color: white;
}

.black {
   color: black;
}

.main-content a {
   font-weight:700;
}

#auto-colors {
   cursor: pointer;
   padding-left: .5rem;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:link,
.navbar-inverse .navbar-nav > .active > a:visited,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:active {
   background: white !important;
   color: #474E5F;
   border-bottom: none;
}

.dropdown-menu {
   border-top: 0;
   margin-right:-1px;
}

.push-down-1 {
   margin-top: 1rem !important;
}

.push-down-2 {
   margin-top: 2rem !important;
}

.push-down-3 {
   margin-top: 3rem !important;
}

.push-down-5 {
   margin-top: 5rem !important;
}

.push-down-jumbotron {
   margin-top: 7.2rem;
}

/* Add bottom margin to the description lists */
dd {
   margin-bottom: 1rem;
}

/* Zero left and right borderson list items inside panels */
.panel-body .list-group-item {
    border: 1px 0 solid #ddd;
}

.indent-right-1 {
   margin-left: 1rem;
}

.indent-right-2 {
   margin-left: 2rem;
}

.indent-right-3 {
   margin-left: 3rem;
}

.line-height-150 {
   line-height: 2;
}

/* Set the anchor element to display: block */
.list-group li a {
   display: block;
   height: 100%;
}

/* adds spacing to the radion buttons */
input[type="radio"] {
   margin-right: .6rem;
   margin-bottom: .6rem;
}

.btn-light,
.btn-light:focus {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
   font-weight: 600;
}

.btn-light:hover {
    color: black;
    background-color: white;
}

.navbar .fa-fr {
   padding-right: .7rem !important;
}

.fa-social {
   margin-left: 1.2rem;
}

.white {
   color: white !important;
}

.ghostwhite {
   color: ghostwhite !important;
}

.aliceblue {
   color: aliceblue !important;
}

.gray,
.grey {
   color: gray;
}

.blooburry {
   color: #406885;
}

.three-hunnit {
   font-weight: 400 !important;
}
.descriptor {
   color: gray;
   font-variant: small-caps !important;
}

.bold {
   font-weight: bold;
}

.no-italics {
   font-style: normal;
}

.label-large {
   font-size: large;
}

.label-small {
   font-size: xx-small;
}

.placeholder {
   color: gray;
   font-size: 90%;
   display: block;
   padding-left: .5rem;
}

#docs-link {
   text-transform: uppercase;
}

#photo-attribution {
margin: 0 2rem -2rem 0 !important;
}

#page-footer {
   background: #323744;
   padding: 2rem;
   color: #474e5f;
   margin-top: 4rem;
}

#page-footer p,
#page-footer a {
   color: white;
}

#page-footer a:hover {
   color: #939fbe;
   text-decoration: none;
   cursor: pointer;
}

.modal-body {
   padding: 2.5rem;
}

.tool-cards{
   cursor: pointer;
   margin-bottom: 3rem;
}

.tool-cards:hover {
   -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
   box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.tool-cards > .panel-footer {
   font-weight: 600;
   text-align: center;
   font-size: 1.3rem;
   height: 85px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #474e5f;
}

.tool-cards > .panel-body {
   height: 325px;
   overflow: hidden;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.tooltip {
   font-size: 1rem;
}

.inline {
   display: inline !important;
}

#sidenav-button {
   cursor:pointer;
}

#bootstrapr-nav i,
.panel-footer i {
   margin-right: .3rem !important;
   font-weight: 300;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a small {
   background-color: #474e5f !important;
   color: aliceblue;
}

/* Special classes  -------------------------------------------- */


.alert-default {
   background: #e2e3e5;
   border-color: #d6d8db;
   color: #383d41;
}


/* Remove all borders from table */
table.table-borderless tr,
table.table-borderless th,
table.table-borderless td {
   border: none !important;
}

 /* Formats the table with steps  */
table.numbered-steps tr td:first-of-type {
   padding: 3px;
   text-align: center;
   vertical-align: middle;
   font-weight: 600;
   background: aliceblue;
   width: 1.5rem;
   color: #666666;
   font-size: 1.5rem;
}

/* Disables the background for alternating line numbers for the prettyprint for code wells */
ol.linenums li {
   background: transparent !important;
}

.short-round {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}

.well {
   background: #323744 !important;
}

.prettyprint {
   font-family: "Menlo", "Monaco", "Consolas", monospace !important;
   background: #fafafa !important;
   border: none !important;
   padding: 10px !important;
   font-size: 15px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Adds individual lines to prettyprint */
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}

.linenums li {
    list-style-type: decimal;
}

/* Back to top button */

#topper {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #474e5f;
    color: white;
    padding: 8px 4px 10px 4px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    font-size: 1rem;
}

#topper:hover {
    background-color: #3f4455;
    opacity: .8;
}

/* example boxes */
.example {
    position: relative;
    margin: 15px 0 -2px 0;
    padding: 50px 20px 12px 20px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    z-index: 2;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #474E5F;
    color: #FFFFFF !important;
    padding:6px;
    border-radius: 4px 0 4px 0;
    font-weight: 400;
}

/* step icons --currently unused */
.step-icons {
   background: #474e5f;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   font-size: 20px;
   height: 44px;
   width: 44px;
   padding: 8px;
   border-radius: 50px;
   margin-bottom: 4rem;
}

.tab-pane {
   padding: 1rem;
}

#web-fonts-tables .tab-pane {
   padding: 1.5rem;
}

.spacey {
   margin-right: .5rem;
}

.table-hover>tbody>tr:hover {
   background-color: aliceblue;
}

.icon-grid td {
   text-align: center;
}

/* Turns off unerline on hover for the infomation icons */
a[data-toggle="popover"] {
   text-decoration: none !important;
}

.btn-secondary-dark {
    color: #000000;
    background-color: transparent;
    border-color: #000000;
}

.btn-secondary-light {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
}

/* Arbitrary styling for the caption and summary */
caption {
   font-size: larger;
   text-align: center;
   color: inherit;
}

caption .summary {
   font-size: smaller;
   text-align: center;
   color: gray;
}

/* color picker */
.sp-preview {
   border: none !important;
}

.sp-replacer {
   border: 1px solid lightgray !important;
   border-radius: 3px !important;
}

/* Add padding on selector content area */
.bootstrapr-selector > div {
   padding: 0 1rem;
}
